* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

body {
  margin: 0;
  background-color: #f6faff;
  color: #333333;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

a:hover {
  transition: all 0.3s ease;
}


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-weight: 600;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

  th.book-title{
    width:60%;
  }


  tbody{
    color:gray;
    font-size:80%;
  }

  caption{
    text-align:left;
    font-weight: bold;
    font-size:1.5em;
  }


  /* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.list-table {
  width: 100%;
  box-sizing: border-box; }

  /* 追加文
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tag-container{
  float:left;
  width:20%;
}



.lists-container{
  box-sizing: border-box;
  float:left;
  padding:0 10px;
  width: 80%;
  height:700px;
  border-left:5px solid red;
}

.list{
  border-bottom:5px solid blue;

}


.new-button {
  background: red;
  width: 120px;
  height: 45px;
  text-align: center;
  color: #ffffff;
  border: 2px solid black;
}